.form {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 5px;
}

.name {
  padding: 7px 3px;
  border: 1px solid #78d1df;
  outline: none;
}

.name:focus,
.name:active,
.name:hover{
  border-color: #14b3d5;
}

.button {
  display: inline-block;
  padding: 7px 11px;
  text-align: center;
  border: 1px solid #78d1df;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: #78d1df;

  margin-left: 10px;
}

.button:hover {
  background-color: #14b3d5;
  border-color: #14b3d5;
}

.button.active {
  animation: stripes 1s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 20px 20px;
}

@keyframes stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}
