.loading {
  height: 20px;
  opacity: 0;

  background-color: rebeccapurple;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.show {
  opacity: 1;
  animation: stripes 1s linear infinite;
  background-size: 20px 20px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

@keyframes stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}
